@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("../font/neue-haas-grotesk/NHaasGroteskDSPro-55Rg.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("../font/neue-haas-grotesk/NHaasGroteskDSPro-75Bd.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}
